body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #bce;
}

a {
  color: #c33
}

a:hover {
  color: #f44
}

.title {
  text-align: center;
}
.song-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.artist-index {
  font-style: italic;
}

.song-info {
  margin: 20px 5px;
  text-align: center;
  width: 300px;
  height: 220px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ddd;
}

.song-show {
  text-align: center;
}
